<% if @editing_id != todo.id %>
  <li <%= 'class="completed"' if todo.is_complete %>>
    <div class="view">
      <form action="/todo/<%= todo.id %>/toggle_complete" method="POST">
          <input class="toggle" type="checkbox"  <%= "checked" if todo.is_complete %> > 
      </form>
      <%= link_to todo.title, todo_path(id: todo.id) %>
      <form action="/todo/<%= todo.id %>/destroy" method="POST">
        <button class="destroy"></button>
      </form>
    </div>
  </li>
<% else %>
  <li class="editing">
    <form action="/todo/<%= todo.id %>/update" method="POST">
      <input class="edit" type="text" value="<%= todo.title %>" name="todo[title]">
    </form>
  </li>
<% end %>