<% if @editing_id != todo.id %>
  <li <%= 'class=completed' if todo.is_complete %>>
    <div class="view">
      <%= form_for todo, method: :post, url: toggle_todo_path(todo) do |f| %>
        <%= f.check_box :is_complete, :class => "toggle" %>
      <% end %>
      <%= link_to todo.title, edit_todo_path(todo) %>
      <%= form_for todo, :method => :delete do |f| %>
        <%= f.button "", :class => "destroy" %>
      <% end %>
    </div>
  </li>
<% else %>
  <li class = "editing">
    <%= form_for todo do |f| %>
      <%= f.text_field :title, :class => "edit" %>
    <% end %>
  </li>
<% end %>