
  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <form action="/todos" method="POST">
        <input id="new-todo" type="text" placeholder="What needs to be done?" name="todo[title]" autofocus>
      </form>
    </header>
    <section id="main">
      <form action="/todos/toggle_all_complete" method="POST">
        <input id="toggle-all" type="checkbox" <%= "checked" if !Todo.more_to_do? %>>
        <label for="toggle-all">Mark all as complete</label>
      </form>
      <ul id="todo-list">
        <% @todos.each do |todo| %>
          <%= render partial: "todo", locals: {todo: todo} %>
        <% end %>
      </ul>
    </section>
    <% if Todo.all.size > 0 %>
      <footer id="footer">
        <% if Todo.num_left_to_do == 1 %>
          <span id="todo-count"><%= Todo.num_left_to_do %> item left</span>
        <% else %>
          <span id="todo-count"><%= Todo.num_left_to_do %> items left</span>
        <% end %>
        <ul id="filters">
          <li><a <%= 'class="selected' if @flag == 'all' %> href="/todos/index">All</a></li>
          <li><a <%= 'class="selected' if @flag == 'active' %> href="/todos/active">Active</a></li>
          <li><a <%= 'class="selected' if @flag == 'completed' %> href="/todos/completed">Completed</a></li>
        </ul>
        <% if Todo.anything_completed? %>
          <form action="/todos/destroy_all_complete" method="POST">
            <button id="clear-completed">Clear completed</button>
          </form>
        <% end %>    
      </footer>
    <% end %>
  </section>
  <footer id="info">
    <p>Click to edit a todo</p>
    <p>Created by <a href="http://github.com/starspace1">Leslie Brown</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/app.js"></script>
</body>
