<h1>Edit <%= @person.name %></h1>
  <%= form_for @person do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <%= f.label :github_account, 'Github Account' %>
  <%= f.text_field :github_account %>
  <%= f.submit 'Edit my data' %>
<% end %>

<br><a href = "/people">Back Home</a>