<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p> 
  By: <%= @post.author %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>
    <%= comment.author %>
  </p>
 
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <%= link_to 'Delete comment', delete_comment_path(@post, comment) %>
  </p>

<% end %>

<h1>Add a Comment</h1>
  <%= form_for [@post, @comment] do |c| %>
  <%= c.label :author %>
  <%= c.text_field :author %>
  <%= c.label :text %>
  <%= c.text_field :text %>
  <%= c.submit %>
<% end %>

<br><%= link_to 'Edit post', edit_post_path %><br>

<br><%= link_to 'Delete post', delete_post_path %><br>

<br><a href = "/posts">Back Home</a>