<!DOCTYPE html>
<html>
<head>
  <title>The Iron Yelp - Restaurants</title>
</head>
<body>
  <h1>Restaurants</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Number of Reviews</th>
      <th>Average Rating</th>
    </tr>
    <% @restaurants.each do |r| %>
    <tr>
      <td><a href="<%= r.name %>"><%= r.name %></a></td>
      <td><%= r.address %></td>
      <td><%= r.ratings.size %></td>
      <td><%= r.avg_review.round(1) %></td>
    </tr>
    <% end %>
  </table>
  <p><a href="shutdown">Shutdown</a></p>
</body>
</html>
