<!DOCTYPE html>
<html>
<head>
  <title>The Iron Yelp - Restaurants</title>
</head>
<body>
  <h1>Restaurants</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Hours Today</th>
      <th>Price Range</th>
      <th>Cuisine Types</th>
      <th>Address</th>
      <th>Website</th>
      <th>Average Rating</th>
    </tr>
    <% @restaurants.each do |r| %>
    <tr>
      <td><a href="<%= r.name %>"><%= r.name %></a></td>
      <td><%= r.hours_today %></td>
      <td><%= r.price_range %></td>
      <td><%= r.cuisine_types %></td>
      <td><%= r.address %></td>
      <td><a href = http://www.<%= "#{r.website}" %>><%= "#{r.website}" %></a></td>
      <td><%= r.avg_review.round(1) %> <%= "[#{r.ratings.length} ratings]" %> </td>
    </tr>
    <% end %>
  </table>
  <p><a href="home">Home</a></p>
  <p><a href="restaurants">All Restaurants</a></p>
  <p><a href="shutdown">Shut Down Server</a></p>
</body>
</html>
