<!DOCTYPE html>
<html>
<head>
  <title>The Iron Yelp</title>
</head>
<body>
  <h1><%= @selected_restaurant.name %>:</h1>
  <ul>
    <li>Address: <%= @selected_restaurant.address %></li>
    <li>Price Range: <%= @selected_restaurant.price_range %></li>
    <li>Cuisine Types: <%= @selected_restaurant.cuisine_types %></li>
    <li>Average Rating: <%= @selected_restaurant.avg_review.round(1) %></li>
    <li>Hours Today: <%= @selected_restaurant.hours_today %></li>
    <li>Hours: </li>
    <ul>
      <% for i in 0..6 do %>
      <li><%= "#{WEEK_DAYS[i]}:" %> <%= " #{@selected_restaurant.hours_on WEEK_DAYS[i]}" %></li>
      <% end %>
    </ul>
  </ul>
  <p><a href="shutdown">Shutdown</a></p>
</body>
</html>
