<!DOCTYPE html>
<html>
<head>
  <title>The Iron Yelp</title>
</head>
<body>
  <h1><%= @selected_restaurant.name %>:</h1>
  <ul>
    <li>Address: <%= @selected_restaurant.address %></li>
    <li>Price Range: <%= @selected_restaurant.price_range %></li>
    <li>Cuisine Types: <%= @selected_restaurant.cuisine_types %></li>
    <li>Average Rating: <%= @selected_restaurant.avg_review.round(1) %></li>
    <li>Website: <a href = "http://www.<%= @selected_restaurant.website %>"><%= @selected_restaurant.website %></a></li>
    <li>Hours Today: <%= @selected_restaurant.hours_today %></li>
    <li>Hours: </li>
    <ul>
      <% WEEK_DAYS.each do |day| %>
        <li><%= day %>: <%= " #{ @selected_restaurant.hours_on day }" %></li>
      <% end %>
    </ul>
  </ul>
  <p><a href="home">Home</a></p>
  <p><a href="restaurants">All Restaurants</a></p>
  <p><a href="shutdown">Shut Down Server</a></p>
</body>
</html>
